html {
    box-sizing: border-box;
}
*,
*::before
*::after {
    box-sizing: inherit;
}

.header-container {
padding-top: 72px;
padding-bottom: 98px;
}

body {font-family: 'Playfair Display', 'Ubuntu', serif;
font-weight: 400;
color: #626262;
font-size: 14px;
line-height: 24px;
}   

.main-container {
    width: 900px;
    margin: 0 auto;
}

.main-menu {
margin: 0;
padding: 0;
text-align: center;
list-style: none;
font-size: 0;
}

.main-menu li {
display: inline-block;
vertical-align: middle;
}

.main-menu li:not(:last-child) {
margin-right: 120px;
}
.main-menu-item a {
display: block;
color: #626262;
text-decoration: none;
text-transform: uppercase;
font-size: 14px;
}
.main-menu a:hover,
.main-menu a:focus{
color: #03a9f4;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space:nowrap;
    clip-path:inset(100%);
    clip: rect(0 0 0 0);
    overflow:hidden;
}

.content-menu {
list-style: none;
margin: 0px;
padding: 0;
font-size: 0;    
}
.content-menu-item {
display: inline-block;
width: 420px;
font-size: 14px;
margin-bottom: 130px;
}
.content-menu-item:not(:nth-of-type(even)){
margin-right: 60px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.title {
font-size: 14px; 
line-height: 17px;
margin: 0;
margin-bottom: 26px;
font-family: 'Ubuntu', '3972', serif
}

h3 {
font-size: 30px;
line-height: 36px;
margin: 0;
margin-bottom: 36px;
}
.text {
line-height: 24px;
margin: 0;
}
.button {
    display: block;
    border: none;
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto;
    border-width: 1px;
    border-color: rgb(98, 98, 98);
    border-style: solid;
    padding: 22px 34px;
    color:#626262;
    background-color: #ffffff;
}
.button:hover,
.button:focus {
    color: #03a9f4;
    cursor: pointer;
}