* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
*::before
*::after {
box-sizing: inherit;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
    }

body{
    font-family: 'Roboto', 'Open+Sans', sans-serif;
    color: #6c7279;
    font-size: 14px;
    line-height: 17px;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}
.navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 0;
}

.logo::first-letter{
    color: #1abc9c;
}

.logo {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 32px;
    text-decoration: none;
    color: #555252;
    text-transform: uppercase;
}

.navigation {
    padding: 38px 0;
}

.site__nav {
    width: 476px;
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}
.site__nav  a {
    display: block;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Open+Sans', sans-serif;
    font-weight: 700;
    color: #0f0101;
    text-transform: uppercase;
    text-decoration: none;
}
.site__nav li {
    float: left;
    padding-top: 8px;
}
.site__nav li:not(:last-child) {
    margin-right: 30px;
}
.site__nav a:hover, 
.site__nav a:focus{
    color: #1abc9c;
}

/* slider */
.content {
    background-image: url(../img/main\ page.jpg);
    background-size: cover;
    height: 600px;
}

.slider {
    height: 100%;
    position: relative; 
}
.slider__title h1 {
    margin: 0;
    padding: 0;
    font-size: 60px;
    line-height: 82px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    top: 217px;
    left: 184px;
    transform: translateY(-50%);
}
.slide {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide__item {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 54px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    top: 300px;
    left: 185px; 
    transform: translateY(-50%);   
}

.slider-ctrl {
    display: block;
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    width: 104px;
    height: 104px;
    background-color: #6ebca7;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.slider-ctrl-prev {
    left: 0;
    background-image: url(../img/button1.png);
}

.slider-ctrl-next {
    right: 0;
    background-image: url(../img/button2.png);
}




/* New collection */

.collection {
    background-color: #e9f0fd;
    padding-top: 94px;
    padding-bottom: 100px;
    margin: 0 auto;
}

.collection__title {
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    text-align: center;
    color: #515151;
    margin-bottom: 115px;  
}

.collection__title::after {
    display: block;
    width: 164px;
    height: 7px;
    content: '';
    background-color: #1abc9c;
    margin: 0 auto;
    margin-top: 32px;
}

.collection__items {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.collection__item {
    width: 255px;
    height: 283px;
    float: left;
    position: relative;
    font-size: 0;    
}

.collection__item {
    margin-right: 30px;
}

.collection__item:nth-of-type(4n) {
    margin-right: 0;
}

.overlay {
    width: 235px;
    height: 261px;
    opacity: 0;
    /* background-color: rgb(0, 0, 0);
    opacity: 0.549; */
    position: absolute;
    transform: translate(10px, 10px);
    /* visibility: hidden; */
}

.icon__items {
    position: absolute;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    width: 168px;
    height: 50px;
    top: 79px;
    left: 35px;
}

.icon__item::before {
    width: 50px;
    height: 50px;
    /* border: 1px solid #ffffff; */
    margin: 0;
    padding: 0;
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    cursor: pointer;
}


.icon__item {
    margin-right: 9px;
}


.icon__heart::before {
    background-image: url(../img/heart.png)
}

.icon__link::before {
    background-image: url(../img/link.png)
}

.icon__clock::before {
    background-image: url(../img/clock.png)
}

.icon__buy {
    position: absolute;
    width: 168px;
    height: 50px;
    top: 138px;
    left: 35px;
    color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    cursor: pointer;
    font-family: 'Open+Sans', sans-serif;  
}

.icon__buy {
    background-image: url(../img/buy.png);
}



.item__name {
    display: inline-block;
    width: 200px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0;
    padding-left: 13px;
    background-color: #323232;
}

.item__price {
    display: inline-block;
    width: 50px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #7fd9c7;
}

.overlay:hover {
    background-color: rgb(0, 0, 0);
    opacity: 0.549;
}

.icon__item:hover {
    border: none;
    background-color: #1abc9c;
}

.icon__buy:hover {
    border: none;
    background-color: #323232;
}

.footer {
    height: 88px;
    margin: 0 auto;
    background-color: rgb(50, 50, 50);
}

.footer p {
    text-align: center;
    font-size: 16px;
    line-height: 88px;
    font-family: 'Open+Sans', sans-serif;
    color: #ffffff;
    margin: 0;
}










